{% set page_title="Palnar polling" %}
{% set page_ver="0.0.0" %}
{% set page_url="http://127.0.0.1:8000" %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Palnar Polling!{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('style.css') }}">
    <script src="{{ asset("script/script.js") }}"></script>
    <script src="{{ asset("script/jquery.js") }}"></script>
    <script src="{{ asset("script/bootstrap.js") }}"></script>
    {% block header %}{% endblock %}
    {% block stylesheets %}{% endblock %}

</head>
<body>

<nav class="navbar navbar-default header">
        <table width="100%"><tr>
                <td style="width: 10%;"><a href="" class="logo"><div class="palnar"></div></a></td>
                <td style="width: 80%;"></td>
                <td style="width: 10%;"><span onclick="signOut()"><a href="#" class="btn-lg logout"><span class="glyphicon glyphicon-off"></span></a></span></td>
                <td style="width: 2%;"></td>
            </tr></table>
</nav>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}


</body>
</html>
